<nav class="navbar navbar-expand-lg d-flex flex-row-reverse px-4 " style=" background-color: #FFD4EC; ">
  <a class="navbarsub" href="#">
    <p>المواد</p>
  </a>
    
    <div class=" navbar-collapse" id="navbarNav">
      <ul class="navbar-nav px-4">
        <li class="infouser">
          <div class=" d-flex flex-row-reverse ">
            <div class="divimg">
              <img src="../../../assets/user.png" class="user">
            </div>
            <div class="data ">
              <div class="name"> <p>احمد سليمان</p> </div>
              <div class="title">معلم</div>
             </div>
             <div class="arrow ">
              <a href="#">
              <svg width="20" height="20" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                  <polygon points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5" />
              </svg>
            </a>
          </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
          <svg width="28" height="28" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-labelledby="svgtitle">
            <title id="svgtitle">Bell Icon</title>
            <g id="bell">
              <path d="M29.78,24.37l-3.65-4.48L26,12a1,1,0,0,0,0-.16C24.85,5.58,21.21,2,16,2,10.5,2,6.08,6,5,11.82A1,1,0,0,0,5,12l-.13,8L2.14,24.48a1,1,0,0,0,0,1A1,1,0,0,0,3,26h9a4,4,0,0,0,8,0h9a1,1,0,0,0,.9-.57A1,1,0,0,0,29.78,24.37ZM16,28a2,2,0,0,1-2-2h4A2,2,0,0,1,16,28ZM4.77,24l2-3.24a1,1,0,0,0,.14-.5L7,12.1C7.91,7.25,11.52,4,16,4c5.63,0,7.43,5,8,8.1l.14,8.16a1,1,0,0,0,.22.62L26.9,24Z"/>
            </g>
          </svg>
        </a>
        </li>
        <li class="nav-item">
          <a href="#">
          <svg width="28" height="28" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
            <g>
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M5.763 17H20V5H4v13.385L5.763 17zm.692 2L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zM11 14h2v2h-2v-2zM8.567 8.813A3.501 3.501 0 1 1 12 13h-1v-2h1a1.5 1.5 0 1 0-1.471-1.794l-1.962-.393z" fill-rule="nonzero"/>
            </g>
          </svg>
        </a>
        </li>
        <li class="nav-item">
          <a href="#">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28" height="28">
            <path d="M19,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm1,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V12H20Zm0-9H4V7A1,1,0,0,1,5,6H7V7A1,1,0,0,0,9,7V6h6V7a1,1,0,0,0,2,0V6h2a1,1,0,0,1,1,1Z" fill="#000"/>
          </svg> 
        </a>                
        </li>
      </ul>
    </div>  
  </nav>
  