<div class="exercise container-fluid mt-4">
    <div class="d-flex flex-row-reverse flex-wrap ">
        <div class=" list col-12 col-sm-4 flex-shrink-0" >
            <div class="typeq">اسحب نوع السؤال</div>
            <div><button>اختيار من متعدد</button></div>
            <div><button>اختيار فردي</button></div>
        </div>
        <div class="divtest col-12 col-sm-8 flex-grow-1 d-flex flex-column" >
            <div class="drag">
                <p>.. قم بسحب وادراج نوع السؤال هنا</p>
            </div>

            <div class="test">
                <p class="subtitle">اختيار فردي</p>
                <div class="question">
                    <p>...نص السؤال</p>
                </div>
                <div class="container mt-3">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="easyoptions" >
                        <div class="custom-radio">
                            <label for="hard">صعب</label>
                            <input type="radio" name="difficulty" id="hard" value="hard">
                        </div>
                        <div class="custom-radio">
                            <label for="medium">متوسط</label>
                            <input type="radio" name="difficulty" id="medium" value="medium">
                        </div>
                        <div class="custom-radio">
                            <label for="easy">سهل</label>
                            <input type="radio" name="difficulty" id="easy" value="easy" checked>
                        </div>
                    </div>
                        <button class="new-option-button">+ خيار جديد</button>
                    </div>

                    <div class=" mt-4">
                        <div class="row">
                          <div class="col-12 col-md-6 custom-radio d-flex ">
                            <label for="hard">تحديد كأجابه صحيحه</label>
                            <input type="radio" name="difficulty" id="hard" value="hard">
                          </div>
                          <div class="col-12 col-md-6">
                            <input type="text" class="form-control" placeholder="الاختيار الاول">
                          </div>
                        </div>
                      </div>

                      <div class=" mt-4">
                        <div class="row">
                          <div class="col-12 col-md-6 custom-radio d-flex ">
                            <label for="hard">تحديد كأجابه صحيحه</label>
                            <input type="radio" name="difficulty" id="hard" value="hard">
                          </div>
                          <div class="col-12 col-md-6">
                            <input type="text" class="form-control" placeholder="الاختيار الاول">
                          </div>
                        </div>
                      </div>

                      <div class="d-flex justify-content-end align-items-center mt-4">
                        <div class="cancel"><button>الغاء</button></div>
                        <div class="save"><button> حفظ كمسوده</button></div>
                      </div>
                </div>
            </div>

            <div class="test">
                <p class="subtitle">اختيار من متعدد</p>
                <div class="question">
                    <p>...نص السؤال</p>
                </div>
                <div class="container mt-3">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="easyoptions" >
                        <div class="custom-radio">
                            <label for="hard">صعب</label>
                            <input type="radio" name="difficulty" id="hard" value="hard">
                        </div>
                        <div class="custom-radio">
                            <label for="medium">متوسط</label>
                            <input type="radio" name="difficulty" id="medium" value="medium">
                        </div>
                        <div class="custom-radio">
                            <label for="easy">سهل</label>
                            <input type="radio" name="difficulty" id="easy" value="easy" checked>
                        </div>
                    </div>
                        <button class="new-option-button">+ خيار جديد</button>
                    </div>

                    <div class=" mt-4">
                        <div class="row">
                          <div class="col-12 col-md-6 custom-radio d-flex ">
                            <label for="hard">تحديد كأجابه صحيحه</label>
                            <input type="radio" name="difficulty" id="hard" value="hard">
                          </div>
                          <div class="col-12 col-md-6">
                            <input type="text" class="form-control" placeholder="الاختيار الاول">
                          </div>
                        </div>
                      </div>

                      <div class=" mt-4">
                        <div class="row">
                          <div class="col-12 col-md-6 custom-radio d-flex ">
                            <label for="hard">تحديد كأجابه صحيحه</label>
                            <input type="radio" name="difficulty" id="hard" value="hard">
                          </div>
                          <div class="col-12 col-md-6">
                            <input type="text" class="form-control" placeholder="الاختيار الاول">
                          </div>
                        </div>
                      </div>

                      <div class="d-flex justify-content-end align-items-center mt-4">
                        <div class="cancel"><button>الغاء</button></div>
                        <div class="save"><button> حفظ كمسوده</button></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>