<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="d-flex flex-row-reverse ">
    <div class="sidebar flex-shrink-0" >
        <app-sidebar></app-sidebar>
    </div>
    <div class="content flex-grow-1 d-flex flex-column " >
        <app-header ></app-header>
        <router-outlet>
          <div class="mt-4 mb-3">
            
        </div>
        </router-outlet>
        
    </div>
</div>
  

  
</body>
</html>