  <div class="subject container-fluid">
    <p class="subtitle">المواد</p>
    <div class="row ">
      <div *ngFor="let subject of subjects" class="coldiv col-md-6 col-12">
        <div class="whitediv my-2">
          <div class="card">
            <img [src]="subject.image" class="card-img-top" alt="{{subject.name}}">
            <div class="card-body">
              <h5 class="card-title">{{subject.name}}</h5>
              <p class="card-text">{{subject.description}}</p>
              <div class="d-flex flex-row">
                <p class="card-status"> الحاله : </p>
                <div class="divstatus" [ngClass]="{'divstatus-incomplete': subject.status === 'غير مكتمل'}">
                  <p [ngClass]="{'card-status-incomplete': subject.status === 'غير مكتمل', 'card-status-complete': subject.status !== 'غير مكتمل'}">
                    {{subject.status}}
                  </p>
                </div>
              </div>
              <div class="mt-2">
                <a href="#" class="addlink">
                  <svg width="20" height="20" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="ml-2">
                    <title></title>
                    <g fill="rgba(255, 59, 166, 1)" data-name="Layer 2" id="Layer_2">
                      <path d="M10.1,23a1,1,0,0,0,0-1.41L5.5,17H29.05a1,1,0,0,0,0-2H5.53l4.57-4.57A1,1,0,0,0,8.68,9L2.32,15.37a.9.9,0,0,0,0,1.27L8.68,23A1,1,0,0,0,10.1,23Z"/>
                    </g>
                  </svg>
                  <span>إضافة تدوين</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

 